nav .navbar-brand {
	font-size: xx-large;
}

nav .navbar-brand .blue {
	color: #537fbe;
}

nav .navbar-brand .red {
	color: #ea433b;
}

nav .navbar-brand .yellow {
	color: #f5b82e;
}

nav .navbar-brand .green {
	color: #2e944b;
}

table th,
table td {
	padding: 0.75rem;
	vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
	background-color: rgb(179, 208, 255, 0.3);
}

table {
	margin: auto;
	justify-content: center;
}

.footer {
	font-weight: bold;
}

.sell-spinner,
.buy-spinner,
.quote-spinner,
.login-spinner,
.register-spinner {
	display: none !important;
}

.buy-input,
.sell-input {
	width: 6ch;
}

.buy-form,
.sell-form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}

.table-container {
	max-height: 58vh;
	overflow-y: auto;
}

.table-container table {
	width: 100%;
}

.table-container thead {
	position: sticky;
	top: 0;
	background-color: #ffffff;
	z-index: 10;
}

.table-container tfoot {
	position: sticky;
	bottom: 0;
	background-color: #ffffff;
	z-index: 10;
}

.open-modal {
	display: none;
}

.modal {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 100;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	overflow-y: auto;
}

.modal-content {
	background: #fff;
	border-radius: 12px;
	padding: 2rem;
	max-width: 500px;
	width: 100%;
	max-height: 80vh;
	overflow-y: auto;
	position: relative;
}

.modal-content .close-modal {
	top: 1rem;
	right: 1rem;
	position: absolute;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--bs-primary);
	cursor: pointer;
	line-height: 1;
	background: none;
	border: none;
	z-index: 9999	
}

.message-container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin: 1rem 0
}

.message-container .btn{
	font-size: 0.8rem
}

.message{
	font-size: 1.3rem;
}

